.App, html, body {
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  display: flex;
}

.Main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-weight: bold;
  white-space: nowrap;
}

.Picker {
  margin: 1rem;
}

.pictureDate {
  position: absolute;
  top: 5rem;
  left: 3rem;
  z-index: 2;
}

h1 {
  color: yellow;
}
